<!DOCTYPE html>
<!--[if IE 8]>                  
<html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<!-- MODULE NAME : ABOUTUS.HTML -->
<!-- AUTHORS : Ankur Gupta, Ayush Mittal, Deven Pawar, Vinay Bhore -->
<!-- FUNCTION : About Us Screen -->

<head>
  <meta name="viewport" content="width=device-width">
  <title>About Us</title>

  
  <link rel="stylesheet" href="css/foundation.css">
    <script src="js/vendor/custom.modernizr.js"></script>

</head>
<body>
        <div class="sticky">
                <nav class="top-bar">
                        <ul class="title-area">
                                <li class="name">
                                        <h1><a style="color:#0d95ca" href="../userHome">Home</a></h1>
										</li>
                        </ul>
                        <section class="top-bar-section">
                                <ul class="right">
                                        <li>
                                                <a style="color:#0d95ca" href="../">Sign Out</a>
                                        </li>
                                </ul>
                        </section>
                </nav>
            </div>
    
    <center><h2>Know Who We Are !!</h2></center>
    <div class="row">
    <div class="left">
    
        <img border="0" src="Pinterest.jpg" alt="pinterest" width="1000" height="600"><br><br><br>
        </div>
        <div class="left">
        <div class="panel">
            <div class="row">  
                       <p> Pinboard is a place, where you can tack anything you feel is worth bookmarking. From beauty to technology, it 
					   lets our users create their own Boards and pin anything and everything they come across over on Internet. 
					   Our users can create their own pins in the form of a blogspot and share it with the world so that others 
					   can pin it up on their boards.Pinboard unique integration with the social networking sites allows others
					   to like and comment on our users pins and boards. Additionally, it recommends pins that might interest 
					   our users based on their own pinned up boards and it suggests users with similar interests. </p>
            </div>
        </div>
    </div>
    </body>

  
 
  <script src="js/foundation.min.js"></script>
  
  

</html>